
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# custom 
*.swp
BACKUP/*
EXEC_HERE
dataMap.json
response.json
assets/js/datavalues.json
assets/templates/index_template.html
assets/templates/index-test.html
assets/templates/index-test-min.html
